*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: "Roboto", sans-serif;
  
    font-style: normal;
    background-color: lightgrey;
  }
  
  
  .grid-container {
    
    display: grid;
    grid-template-columns: 1fr ;
    
    grid-auto-rows: auto;
  width: 90%;
  margin: 1rem auto;
  
  }
  .grid_child_Container{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr ;
    grid-auto-rows:  auto;
  
  gap: 1rem;
    
  }
  
  .grid-container h1{
    margin-top: 10rem;
  grid-column: 1/2;
  grid-row: 1/2;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0;
    background-color:white;
    width: 90%;
    margin: 0 auto;
    
    }
  .product_Cart_ImgContainer{
  
    margin-top: 2rem;
    position: relative;
  
  }
  .product_Cart_ImgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  border-radius: 5%;
  } 
  
  .product_Cart button{
    width: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    padding: 0.5rem 0rem;
    border-radius: 20px;
    border: none;
  font-weight: bold;
    transform: translateX(-50%);
  
  }
  .product_Cart_Btn{
   background-color: rgb(235, 233, 233);
    transition: all 0.3s ease;
  }
  .product_Cart_Btn:hover{
  background-color: black;
  color: white;
  }
  .product_Cart_ImgContainer button i{
    padding-right: 0.2rem;
  }
   .ordered img{
    border: 2px solid tomato;
   }
  .Quantity_button{
    display: flex;
    background-color: tomato;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .Quantity_button div{
   height: 20px;
   width: 20px;
  color: white;
   display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    /* padding: 0.5rem; */
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
   
  }
  .Quantity_button div:hover{
   
   color: white;
  background-color: black;
  
     
    
   }
  .Quantity_button span{
    color: white;
  }
  
  
  .product_Cart{
    width: 90%;
  margin: 0 auto;
  background-color: white;
  
    padding: 0 0.5rem;
  }
  
  
  
  .product_Cart_ProductDesc{
    padding-top: 2rem ;
  }
  .product_Cart_ProductDesc h2{
    font-size: 0.7rem;
    color: grey;
  
  }
  
  .product_Cart_ProductDesc p{
    font-weight: bold;
    padding: 0.5rem 0;
  }
  .Product_Cart_Price{
     color: #ce4b7f ;
     font-weight: bold;
     font-size: 0.7rem;
  }
  .shopping_cart{
        width: 90%;
      margin: 0 auto;
      background-color: white;
      
        padding: 0 0.5rem;
      
  }
  .shopping_cart_items{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
  }
  .shopping_cart h2{
    margin-top: 1rem;
    color: tomato
  }
    .shopping_cart_items h3{
        font-size: 1rem;
        font-weight: bold;
    }
  
    .shopping_cart_items p {
        margin-top: 1rem;
        color: gray;

    }
    .fa-xmark{
        margin-top: 1rem;
        margin-right: 1rem;
        border: 1px solid black;
        border-radius: 50%;
        color: gray;
        cursor: pointer;
    }
    .shopping_cart_total{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        justify-content: space-between;
    }
    .shopping_cart_total h3{
        font-size: 1rem;
        color: brown;
    }
    .shopping_cart_final{
        font-size: 2rem;
        font-weight: bold;
        color: black;
        margin-right: 2rem;
    }
    .shopping_cart_notice{
       display: flex;
       justify-content: center;
         align-items: center;
       background-color: peachpuff;
       border-radius: 10%;
         padding: 1rem;
        color: gray;
    }
    .fa-pagelines{
        color: green;
    }
    .shopping_cart_checkout {
        background-color: #C94A26; /* Adjust the color to match the exact shade of red */
        color: white;
        border: none;
        padding: 15px 30px;
       
        margin-top: 10px;
       margin-left: 60px;
       margin-bottom: 20px;
       width: 70%;
        border-radius: 50px; /* To create the rounded effect */
        font-size: 16px;
        cursor: pointer;
        text-align: center;
    }
    .shopping_cart_checkout:hover {
        background-color: black;
        color: white;
    }
  /* Desktop version */
  
  @media screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 0.7fr 0.7fr 0.7fr .7fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
    }
    .grid_child_Container{
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr ;
      grid-row: 1/6;
    
    
      
    }
    .product_Cart_ImgContainer button{
      width: 60%;
      position: absolute;
      bottom: -10px;
      left: 50%;
      padding: 0.5rem 0rem;
      border-radius: 20px;
      border: none;
    font-weight: bold;
      transform: translateX(-50%);
    }
    .grid-container h1{
      
      background-color:transparent;
  
      
      }
  
     .product_Cart_ProductDesc{
        padding-top: 1rem ;
      }
    
      
      .product_Cart_ProductDesc p{
        padding: 0.2rem 0;
      }
      
.shopping_cart{
  grid-column: 4/5;
    /* height: 60vh; */
    grid-row: 1/2;
}
   
      
  
  }